html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary_background_color: #fff;
  --accent_background_color: #f1f1f2;
  --thirty_background_color: #231f20;
  --botton_color: #f7941e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
body {
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  background-color: var(--primary_background_color);
}

summary {
  list-style-type: none;
}

.container {
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
/*------------------------HEADER-----------------------------------------*/
.header_box,
.nav_list {
  display: flex;
  align-items: center;
}
.header .logo {
  font-family: "Homemade Apple";
  font-weight: 400;
  font-size: 18px;
  line-height: 2;

  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 60px;
  padding-top: 39px;
  padding-bottom: 38px;

  color: var(--thirty_background_color);
}
.header_nav {
  margin-left: 433px;
  font-size: 18px;
  line-height: 1.22;
}
.header_link_box:nth-child(n + 2) {
  margin-left: 31px;
}
.nav_link {
  padding-top: 47px;
  padding-bottom: 47px;
}
.nav_link:hover,
.nav_link:focus {
  color: var(--botton_color);
}
.header_button {
  margin-left: auto;
  padding-left: 24px;
  padding-right: 25px;
  padding-top: 14px;
  padding-bottom: 8px;

  font-size: 18px;
  line-height: 1.22;

  text-align: center;
  text-transform: uppercase;

  color: var(--botton_color);
  background-color: #fafafa;
  border: 1px solid var(--botton_color);
  border-radius: 5px;
}
/*-------------------------------HERO---------------------------------*/

.hero_box {
  display: flex;
}
.discription_hero {
  padding-top: 154px;
  padding-bottom: 135px;
  background-color: var(--accent_background_color);
}
.hero_title {
  width: 433px;
  font-size: 56px;
  line-height: 1.22;
  margin-bottom: 36px;
}
.hero_discription {
  width: 422px;
  font-size: 20px;
  line-height: 140.62%;

  margin-bottom: 52px;
}
.discription_hero_margin {
  margin-left: 142px;
}
.hero_button {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;

  color: var(--primary_background_color);
  background-color: var(--botton_color);
  border-radius: 5px;

  padding-top: 23px;
  padding-right: 24px;
  padding-bottom: 15px;
  padding-left: 25px;
}
.hero_box_list {
  flex-basis: calc(100% / 2);
}

/*------------------------------ABOUT------------------------*/
.about_box {
  display: flex;
}
.about_box_list {
  flex-basis: calc(100% / 2);
}
.about_discription {
  background-color: var(--accent_background_color);
  padding-top: 164px;
  padding-bottom: 104px;
}
.about_title {
  font-size: 32px;
  line-height: 140.62%;
  margin-bottom: 23px;
}
.discription_about {
  font-size: 20px;
  line-height: 140.62%;
  width: 476px;
  text-align: justify;
  margin-bottom: 35px;
}
.about_discription .more {
  display: inline-block;
  font-size: 18px;
  line-height: 134.77%;
  text-transform: uppercase;
  color: var(--botton_color);
  background-color: var(--accent_background_color);
  border: 1px solid var(--botton_color);
  border-radius: 5px;
  padding: 21px 46px 14px 47px;
}
.about_disc_margin {
  margin-left: 100px;
}

/*---------------------------GIFTS----------------------------------*/

.gifts {
  padding-top: 96px;
  padding-bottom: 137px;
}
.gifts_box {
  padding-left: 135px;
  padding-right: 135px;
}
.gifts_title,
.gifts_discription {
  text-align: center;
}
.gifts_title {
  font-size: 32px;
  line-height: 1.18;
  margin-bottom: 23px;
}
.gifts_discription {
  font-size: 18px;
  line-height: 135.94%;
  margin-bottom: 64px;
}
.gifts_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.gifts_item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  background-color: #fafafa;
}
.gifts_item_discription {
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-top: 24px;
}
.holiday_title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 74px;
}
.gifts_summary {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.35;
}
/*------------------------SERVICES----------------------------*/
.services {
  padding-top: 81px;
  padding-bottom: 69px;
  background-color: var(--botton_color);
}
.services_box,
.serv_button_list {
  display: flex;
  align-items: center;
}
.services_box {
  padding-left: 235px;
  padding-right: 235px;
}
.serv_button_list {
  margin-left: auto;
}
.services_title {
  font-size: 32px;
  line-height: 140.62%;
  font-weight: 700;
}
.services_discription {
  font-size: 32px;
  line-height: 140.62%;
  font-weight: 700;
}
.serv_button {
  font-size: 18px;
  line-height: 1.22px;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-transform: uppercase;
}
.button_item:nth-child(n + 2) {
  margin-left: 16px;
}
.serv_button.one {
  color: var(--primary_background_color);
  background-color: var(--thirty_background_color);
  border: 1px solid var(--thirty_background_color);
}
.serv_button.two {
  border: 1px solid var(--thirty_background_color);
  background-color: var(--botton_color);
  color: #000;
}
/*-----------------------------BLOG--------------------------*/
.blog {
  padding-top: 88px;
  padding-bottom: 80px;
}
.blog_box {
  padding-left: 135px;
  padding-right: 135px;
}
.blog_title,
.blog_discription {
  text-align: center;
}
.blog_title {
  font-size: 32px;
  line-height: 1.18px;
  margin-bottom: 23px;
}
.blog_discription {
  font-size: 18px;
  line-height: 135.94%;
  margin-bottom: 71px;
}
.blog_hero {
  display: flex;
  margin-bottom: 40px;
}
.blog_hero_img {
  flex-basis: 400px;
}
.blog_hero_discription {
  flex-grow: 1;
  padding-top: 63px;
  padding-bottom: 49px;
  padding-left: 78px;
  background-color: var(--thirty_background_color);
  color: var(--primary_background_color);
}
.author {
  font-size: 14px;
  line-height: 140.62%;
  margin-bottom: 27px;
}
.blog_hero_title {
  font-size: 48px;
  line-height: 1.21;
  margin-bottom: 60px;
}
.blog_summary {
  font-size: 18px;
  line-height: 140.62%;
}
.article_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.blog_article {
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 50px;
}
.blog_article:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.article_title {
  width: 474px;
  font-size: 24px;
  line-height: 140.62%;
  margin-bottom: 16px;
}
.article_discription {
  width: 474px;
  font-size: 18px;
  line-height: 140.62%;
  margin-bottom: 16px;
}
.article_summary {
  font-size: 14px;
  line-height: 140.62%;
}
